/* html, body {
  overflow: hidden;
  touch-action: none;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ensures the page container uses full height and is set up for flex layout */
.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Allows the table to take up remaining space after other content */
.scrollable-table-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 24px; /* Ensures there's a margin from the bottom of the viewport */
}

/* Keeps the header row fixed while scrolling */
.table-head-fixed {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
